.mynav{
    background: rgb(39, 148, 199);
}

.banner{
    width: 100%;
    height: 400px;
}

.cath{
    background: rgb(65, 228, 65);
    color: #FFF;
}

.card{
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px 2px #B0B0B0;
    box-shadow: 2px 2px 2px 2px #B0B0B0;
    margin-bottom: 30px;
    background: #81ff81e0;
    padding: 20px;
}

.card:hover{
    -webkit-box-shadow: 4px 4px 4px 4px #3B3B3B;
    box-shadow: 4px 4px 4px 4px #3B3B3B;
}

.footer{
    background: #c4c4c4bd;
    color: #000;
    text-align: center;
    padding: 15px;
}